<div class="list-block cards-list">
    <ul>
        {{#each news}}
            <li class="card" data-news-id="{{id}}">
                <div class="card-header">
                    <div>
                        {{#if_eq ../language "ru"}}
                            {{title_ru}}
                        {{/if_eq}}
                        {{#if_eq ../language "en"}}
                            {{title_en}}
                        {{/if_eq}}
                    </div>
                </div>
                <div class="card-content">
                    <div class="card-content-inner">
                        {{#if_eq ../language "ru"}}
                            {{{preview_ru}}}
                        {{/if_eq}}
                        {{#if_eq ../language "en"}}
                            {{{preview_en}}}
                        {{/if_eq}}
                    </div>
                </div>
                <div class="card-footer">
                    <p>
                        {{date published_at}}
                    </p>
                    <div class="details">
                        {{html10n "in details"}}
                    </div>
                </div>
            </li>
        {{/each}}
    </ul>
</div>
