<li class="card" data-role="lecture" data-lecture-id="{{lecture.id}}"
    {{#if lecture.sessions.[0].colour}}
        data-colour-id="{{lecture.sessions.[0].colour.id}}"
        style="background-color: {{lecture.sessions.[0].colour.bgCssColor}};"
    {{/if}}
>
    <div class="card-header">
        <div>
            {{{localized_prop object=lecture propName="title"}}}
        </div>
    </div>

    <div class="card-content">
        <div class="card-content-inner">
            {{#if lecture.speakers.length}}
                <p>
                    {{{speakers lecture.speakers activeSpeaker "speaker"}}}
                </p>
            {{/if}}

            <p>
                <span class="time">
                    {{#if date}}
                        {{format_date lecture.start}},
                    {{/if}}
                    {{format_time lecture.start}}
                    –
                    {{format_time lecture.end}}
                </span>
                <br />
                {{#if lecture.sessions.[0].hall}}
                    <span class="hall">
                        {{{localized_prop object=lecture.sessions.[0].hall propName="title"}}}
                    </span>
                {{/if}}
            </p>
        </div>
    </div>

    <div class="card-footer">
        <p></p>
        <div class="details">
            {{html10n "in details"}}
        </div>
    </div>
</li>
