<li class="card" data-role="session" data-session-id="{{session.id}}"
    {{#if session.colour}}
        data-colour-id="{{session.colour.id}}"
        style="background-color: {{session.colour.bgCssColor}};"
    {{/if}}
    {{#if_eq session.is_caption false}}
        data-no-caption
    {{/if_eq}}
>
    <div class="card-header">
        <div>
            {{{localized_prop object=session propName="title"}}}
        </div>
    </div>

    {{#if_eq session.is_caption false}}
        <div class="card-content">
            <div class="card-content-inner">
                {{#if session.chairmen.length}}
                    <p>
                        {{html10n "chairmen"}}:
                        {{{speakers session.chairmen activeSpeaker "chairman"}}}
                    </p>
                {{/if}}
                {{#if session.narrators.length}}
                    <p>
                        {{html10n "narrators"}}:
                        {{{speakers session.narrators activeSpeaker "narrator"}}}
                    </p>
                {{/if}}

                <p>
                    <span class="time">
                        {{#if date}}
                            {{format_date session.start}},
                        {{/if}}
                        {{format_time session.start}}
                        –
                        {{format_time session.end}}
                    </span>
                    <br />
                    {{#if session.hall}}
                        <span class="hall">
                            {{{localized_prop object=session.hall propName="title"}}}
                        </span>
                    {{/if}}
                </p>
            </div>
        </div>

        <div class="card-footer">
            <p></p>
            <div class="details">
                {{html10n "in details"}}
            </div>
        </div>
    {{/if_eq}}
</li>
