@font-face {
    font-family: 'Custom Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/icomoon.ttf?bpzo9c") format("truetype"),
         url("../fonts/icomoon.woff?bpzo9c") format("woff"),
         url("../fonts/icomoon.svg?bpzo9c#icomoon") format("svg");
}

.custom-icons {
    font-family: 'Custom Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
}
.icon-filter-tool-black-shape:before {
    content: "\e900";
}
.icon-filter-outline:before {
    content: "\e901";
}
.icon-library:before {
    content: "\e921";
}
