<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <!--
              Link contains only icon - additional "icon-only" class
              Additional "open-panel" class tells app to open panel when we click on this link
            -->
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <div class="center sliding">{{html10n "lecture"}}</div>
        <div class="right"></div>
    </div>
</div>

<div data-page="programme/lecture" class="page" data-title="Доклад">
    <div class="page-content">
        <div class="content-block">
            <!-- Dynamic generated content -->
            <span style="width:50px; height:50px;" class="preloader"></span>
        </div>
    </div>
</div>
