<!-- We don't need a full layout in this file because this page will be parsed with Ajax. -->

<!-- Top Navbar-->
<div class="navbar">
    <div class="navbar-inner">
        <div class="left">
            <!--
              Link contains only icon - additional "icon-only" class
              Additional "open-panel" class tells app to open panel when we click on this link
            -->
            <a href="#" class="link icon-only open-panel"><i class="icon icon-bars"></i></a>
        </div>
        <!-- We need cool sliding animation on title element, so we have additional "sliding" class -->
        <div class="center sliding">{{html10n "program"}}</div>
        <div class="right"></div>
    </div>
</div>

<div data-page="programme/sessions" class="page with-subnavbar" data-title="Программа">
    <div class="subnavbar">
        <!-- Buttons row as tabs controller in Subnavbar-->
        <div class="buttons-row">
            <script type="text/template">
                <!-- Link to 1st tab, active -->
                <a class="button tab-link active">{{html10n "date 1"}}</a>
                <!-- Link to 2nd tab -->
                <a class="button tab-link">{{html10n "date 2"}}</a>
                <!-- Link to 3rd tab -->
                <a class="button tab-link">{{html10n "date 3"}}</a>
            </script>
        </div>
    </div>

    <span style="width:50px; height:50px; display: none;" class="preloader" id="tpl-preloader"></span>

    <!-- Tabs animated wrapper, required to switch tabs with transition -->
    <div class="tabs-animated-wrap">
        <!-- Tabs, tabs wrapper -->
        <div class="tabs">
            <!-- Tab 1, active by default -->
            <div class="page-content tab active" data-tab-index="0">
                <div class="content-block">
                    <!-- Dynamic generated content -->
                </div>
            </div>
            <!-- Tab 2 -->
            <div class="page-content tab" data-tab-index="1">
                <div class="content-block">
                    <!-- Dynamic generated content -->
                </div>
            </div>
            <!-- Tab 3 -->
            <div class="page-content tab" data-tab-index="2">
                <div class="content-block">
                    <!-- Dynamic generated content -->
                </div>
            </div>
        </div>
    </div>
</div>
