/*
   statusbar-overlay sets the background color for the overlay. Black text is the default when the statusbar plugin is not added. When the
   statusbar plugin is added, it also adds default setting to make the content white via:

       <preference name="StatusBarStyle" value="lightcontent"/>

   Setting the background color to black will allow the default light content (white text/icons) to show on it. The statusbar plugin is included
   in the config.xml file and will be added by the CLI when you build locally.

   See https://github.com/apache/cordova-plugin-statusbar
*/

html {
    font-size: 14px;
}

body {
    font-size: 1rem;
}

h1 {
    font-size: 2rem;
}
@media only screen and (max-width: 736px) {
    h1 {
        font-size: 1.8rem;
    }
}
@media only screen and (max-width: 416px) {
    h1 {
        font-size: 1.4rem;
    }
}
h2 {
    font-size: 1.5rem;
}
@media only screen and (max-width: 416px) {
    h2 {
        font-size: 1.3rem;
    }
}

.material .card-header {
    font-size: 1.15rem;
}
.material .card {
    font-size: 1rem;
}

.material .panel {
    width: 300px;
}
.material.with-panel-left-reveal .views {
    transform: translateX(300px);
}

.ios .panel {
    width: 280px;
}
.ios.with-panel-left-reveal .views {
    transform: translateX(280px);
}

.navbar, .navbar .center, .subnavbar .center {
    font-size: 1.4rem;
}

.button {
    font-size: 1rem;
}

.list-block {
    font-size: 1.15rem;
}

.ios .statusbar-overlay {
    background: #f7f7f8;
}

.subnavbar.logo img {
    display: block;
    max-width: 100%;
    max-height: 48px;
    margin: 0 auto;
}

.material .subnavbar.logo {
    background: #fff;
}

.material .subnavbar > .buttons-row {
    height: 25px;
}

.material .button.tab-link.active {
    font-weight: bold;
    border-bottom: 3px solid #fff;
    border-radius: 0;
}

.login-screen {
    background: #fff;
}
.login-screen > img {
    max-width: 80vw;
    display: block;
    margin: 10vh auto;
}
.login-screen > h1,
.login-screen > h2 {
    text-align: center;
    margin: 2vh 5vw;
    text-transform: uppercase;
    font-weight: bold;
}
@media only screen and (max-height: 640px) {
    .login-screen > img {
        margin: 5vh auto;
    }
    .login-screen > h1,
    .login-screen > h2 {
        margin: 2vh 2vw;
    }
}
.login-screen > hr {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 0 5vw;
}
.login-screen .btnCancel-container {
    position: absolute;
    bottom: 50px;
    text-align: center;
    width: 100%;
    left: 0;
}
.login-screen .btnCancel-container .btnCancel {
    display: block;
    margin: 0 auto;
}
.login-screen .status-text {
    position: absolute;
    bottom: 15px;
    text-align: center;
    width: 100%;
    left: 0;
}
.login-screen .progressbar,
.login-screen .progressbar-infinite {
    position: absolute;
    bottom: 10px;
    width: 90%;
    left: 5%;
}

.panel.panel-left {
    background: #fff;
}
.panel.panel-left img.logo {
    width: 100%;
    max-width: 165px;
    display: block;
    margin: 32px auto;
}
body.ios .panel.panel-left .list-block ul {
    background: none;
}
.panel.panel-left .list-block .item-inner:after {
    display: none;
}
.panel.panel-left .item-media img {
    width: 25px;
    height: 25px;
}
.panel.panel-left .list-block li:after {
    content: ' ';
    position: absolute;
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
    height: 1px;
    width: 100%;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
}
body.material .panel.panel-left .list-block li:after {
    background-color: rgba(0,0,0,.12);
}
body.ios .panel.panel-left .list-block li:after {
    background-color: #c8c7cc;
}

.content-block-title {
    white-space: normal;
    font-weight: bold;
}
.material .content-block-title {
    margin-left: 0;
    margin-right: 0;
}
.ios .content-block-title {
    margin-left: 0;
    margin-right: 0;
}

.card.speaker .card-content-inner {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.card.speaker .card-content-inner > img {
    display: block;
    width: 50px;
    min-width: 50px;
    max-width: 50px;
    height: 50px;
    border-radius: 50%;
}
.card.speaker .card-content-inner > span {
    display: block;
}

.card.ordinal-sponsor .card-content-inner {
    padding: 26px 16px;
}
.card.ordinal-sponsor img {
    height: 60px;
}

.card .details {
    padding-right: 20px;
    padding-left: 10px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%2060%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%3E%3Cpath%20d%3D'm60%2061.5-38.25%2038.25-9.75-9.75%2029.25-28.5-29.25-28.5%209.75-9.75z'%20fill%3D'%23c7c7cc'%2F%3E%3C%2Fsvg%3E");
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: 95% center;
    background-position: -webkit-calc(100% - 16px) center;
    background-position: right center;
}

/*.ios .notifications .item-title {
    white-space: normal;
}
.ios .notifications .close-notification {
    color: transparent;
    border: 0 none;
    width: 20px;
    height: 20px;
}*/

.actions-modal-button,
.actions-modal-button a,
.ios .popover-inner .list-block li > a.item-link {
    text-align: left;
}
.material .actions-modal-group,
.material .popover-inner .list-block > ul {
    overflow: hidden;
}
.actions-modal-button,
.actions-modal-button a {
    white-space: initial;
}
.material .actions-modal-button,
.material .popover-inner .list-block li > a.item-link {
    line-height: 20px;
    margin: 14px 16px;
    padding: 0;
}
.ios .actions-modal-button,
.ios .popover-inner .list-block li > a.item-link {
    height: auto;
    line-height: 24px;
    padding: 16px 16px;
}
.actions-modal-button,
.ios .popover-inner .list-block li > a.item-link,
.material .popover-inner .list-block li > a.item-link {
    display: -js-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
}
.actions-modal-button > span,
.actions-modal-button > i.f7-icons,
.ios .popover-inner .list-block li > a.item-link > span,
.ios .popover-inner .list-block li > a.item-link > i.f7-icons,
.material .popover-inner .list-block li > a.item-link > span,
.material .popover-inner .list-block li > a.item-link > i.f7-icons {
    display: block;
}
.actions-modal-button > i.f7-icons,
.ios .popover-inner .list-block li > a.item-link > i.f7-icons,
.material .popover-inner .list-block li > a.item-link > i.f7-icons {
    margin-right: 16px;
    font-size: 24px;
}
.actions-modal-button > span,
.ios .popover-inner .list-block li > a.item-link > span,
.material .popover-inner .list-block li > a.item-link > span {
    width: 100%;
}

.has-error .label {
    color: red;
}
.has-error input,
.has-error textarea {
    background-color: rgba(255, 0, 0, 0.15) !important;
}

.ios [data-page="questions"] .item-inner {
    padding-right: 0;
}
.ios [data-page="questions"] input,
.ios [data-page="questions"] textarea {
    padding-right: 15px;
}